@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background-color: #f2f2f2;
    padding: 50px;
    border-radius: 20px;
    /* box-shadow: 5px 5px 18px #888888; */
}

input {
    margin-right: 10px;
}

.todo-list {
    list-style-type: none;
}

.todo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    background: white;
    font-size: 18px;
    color: black;
    margin-bottom: 10px;
}

.todo-item{
    flex: 1;
}

.trash-btn, .complete-btn{
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border: none;
    border-radius: 5px;
}

.trash-btn{
    background-color: #dc3545;
}

.trash-btn i{
    color: #ffffff;
}

.complete-btn {
    background-color: #198754;
    margin-right: 10px;
}

.complete-btn i{
    color: #ffffff;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fa-trash, .fa-check{
    pointer-events: none;
}

@media (max-width: 992px) {
    .wrapper{
        padding: 25px;
    }

    .todo{
        width: 250px;
    }
}